<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Team SSO's Rover Challenge</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
        <link rel="stylesheet" href="TemplateData/style.css">
<!--    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>-->
    <script th:src="@{unityinterface.js}" type="module"></script>
</head>
<body>
<div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas"></canvas>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-warning"></div>
</div>
<div id="input-container">
        <label for="textInput">Command Code</label><textarea th:text="${defaultText}" name="textInput"
                                                             id="textInput" class="commandinput" rows="10" ></textarea>
    <p id="error-text" class = "error-text"></p>
    <input type="submit" id="commandButton" value="Send command" class="button">
    <label>Quick Command</label>
    <div id="quickcommand-container">
        <input type="submit" id="qc-forward" value="FORWARD 1" class="quickcommand button">
        <input type="submit" id="qc-right" value="RIGHT" class="button quickcommand">
        <input type="submit" id="qc-turnaround" value="TURNAROUND" class="button quickcommand">
        <input type="submit" id="qc-wait" value="WAIT" class="button quickcommand">
        <input type="submit" id="qc-position" value="POSITION 1 3 EAST" class="button quickcommand">
    </div>

</div>
<script src="unity_script.js" type="module"></script>
</body>
</html>